body {
  background-color: #CEFFC6;
}

.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
}

h1 {
  text-align: center;
}

.logo-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.logo-container img {
  max-width: 100%;
  height: auto;
}

.form-group {
  margin-bottom: 15px;
  position: relative;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: center; /* Alinha o texto no centro */
}

input[type="text"]::placeholder,
input[type="password"]::placeholder {
  text-align: center; /* Alinha o placeholder no centro */
}

input[type="text"]:focus + label,
input[type="password"]:focus + label,
input[type="text"]:not(:placeholder-shown) + label,
input[type="password"]:not(:placeholder-shown) + label {
  top: 0;
  left: 0;
  transform: translateY(-50%) scale(0.8);
  padding: 0;
}

input[type="submit"] {
  width: 100%;
  padding: 8px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

a {
  color: #999;
}

.tip-gif {
  width: 50px;
  height: 50px;
}

.tip-card {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.tip-text {
  color: white;
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

.tip-title {
  font-weight: bold;
  color: green;
  margin-bottom: 10px;
}

.tip-source {
  color: Green;
  margin-top: 10px;
}
/* Custom styles for the login page */
.avatar-container {
  text-align: center;
  margin-bottom: 20px;
}

.avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}
  /* Estilos para página invest.html */
  body {
    background-color: #CEFFC6;
    font-family: Arial, sans-serif;
  }
  
  .container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    text-align: center;
  }
  
  h1 {
    color: #333;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    color: #333;
  }
  
  input[type="number"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  button[type="submit"], button[type="button"] {
    padding: 10px 20px;
    background-color: #45a049;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover, button[type="button"]:hover {
    background-color: #45a049;
  }
  
  .back-button-container {
    text-align: center;
    margin-top: 20px;
  }
  
  .back-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #FFA500;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .back-button:hover {
    background-color: #FF8C00;
  }
  
  .success-message {
    color: green;
    margin-top: 10px;
  }
  
  .error-message {
    color: red;
    margin-top: 10px;
  }

  /* Estilos personalizados para a página de saque */
  body {
    background-color: #CEFFC6;
    font-family: Arial, sans-serif;
  }

  .withdraw-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    text-align: center;
  }

  h1 {
    color: #333;
    margin-bottom: 20px;
  }

  .form-group {
    margin-bottom: 20px;
  }

  label {
    display: block;
    margin-bottom: 5px;
    color: #333;
  }

  input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }

  button[type="submit"] {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }

  button[type="submit"]:hover {
    background-color: #45a049;
  }

  .back-button-container {
    text-align: center;
    margin-bottom: 20px;
  }

  .back-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #FFA500;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .back-button:hover {
    background-color: #45a049;
  }

  /* Estilos personalizados para a página de dicas de investimento */
  .tips-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h1 {
    color: #333;
    margin-bottom: 20px;
  }
  
  .tip-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    position: relative;
  }
  
  .tip-title {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .tip-description {
    margin-bottom: 10px;
  }
  
  .tip-gif {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 100px;
    height: 100px;
  }
  
  .tip-link {
    display: block;
    margin-bottom: 10px;
    color: #4CAF50;
  }
  
  .back-button-container {
    text-align: center;
    margin-top: 20px;
  }
  
  .back-button {
    display: inline-block;
    padding: 10px 20px;
    padding: 10px 20px;
    background-color: #FFA500;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .back-button:hover {
    background-color: #45a049;
  }

  /* Estilos personalizados para a página de extrato da conta */
  .statement-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    text-align: center;
  }
  
  h1 {
    color: #333;
    margin-bottom: 20px;
  }
  
  .transaction {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
  }
  
  .transaction-header {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .transaction-details {
    margin-bottom: 10px;
  }
  
  .back-button-container {
    text-align: center;
  }
  
  .back-button {
    padding: 10px 20px;
    background-color: #FFA500;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .back-button:hover {
    background-color: #45a049;
  }

  /* Custom styles for the password recovery page */
  body {
    background-color: #CEFFC6;
    font-family: Arial, sans-serif;
  }
  
  .container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    text-align: center;
  }
  
  h1 {
    color: #333;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    color: #333;
  }
  
  input[type="email"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  button[type="submit"] {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #45a049;
  }

  .back-button {
    padding: 10px 20px;
    background-color: #FFA500;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }

  .back-button:hover {
    background-color: #45a049;
  }

  /* Estilos para o logotipo */
  .logo-container {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    text-align: left;
  }

  .logo {
    max-width: 100px;
    max-height: 100px;
  }

  /* Restante dos estilos */
  body {
    background-color: #CEFFC6;
    font-family: Arial, sans-serif;
  }

  .returns-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    text-align: center;
  }
  
  h1 {
    color: #333;
    margin-bottom: 20px;
  }
  
  .returns-message {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #FFA500;
    border-radius: 5px;
    font-weight: bold;
  }

  .back-button-container {
    text-align: center;
    margin-top: 20px;
  }
  
  .back-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #FFA500;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .back-button:hover {
    background-color: #45a049;
  }

  /* Estilos personalizados para a página de perfil */
  .profile-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    text-align: center;
  }

  h1 {
    color: #333;
    margin-bottom: 20px;
  }

  .form-group {
    margin-bottom: 10px;
  }

  .form-group label {
    display: inline-block;
    width: 120px;
    text-align: left;
  }

  .form-group input {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 200px;
  }

  .button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }

  .save-button, .back-button {
    padding: 10px 20px;
    background-color: #FFA500;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }

  .save-button:hover, .back-button:hover {
    background-color: #45a049;
  }

  .message-container {
    margin-top: 20px;
  }

  .success-message, .error-message {
    padding: 10px;
    border-radius: 5px;
    text-align: center;
  }

  .success-message {
    background-color: #4CAF50;
    color: #fff;
  }

  .error-message {
    background-color: #f44336;
    color: #fff;
  }

  /* Estilos para o logotipo */
  .logo-container {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    text-align: left;
  }

  .logo {
    max-width: 100px;
    max-height: 100px;
  }

  /* Restante dos estilos */
  body {
    background-color: #CEFFC6;
    font-family: Arial, sans-serif;
  }

  .welcome-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    text-align: center;
    padding-bottom: 80px; /* Espaçamento para acomodar o logotipo */
  }
  
  h1 {
    color: #333;
    margin-bottom: 20px;
  }
  
  .account-balance {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #f2f2f2;
    border-radius: 5px;
    font-weight: bold;
  }
  
  .options {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .options button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .options button:hover {
    background-color: #45a049;
  }

  .profile-button-container {
    text-align: right;
    margin-top: 20px;
  }
  
  .profile-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #FFA500;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .profile-button:hover {
    background-color: #FF8C00;
  }

  .logout-button-container {
    text-align: left;
    margin-top: 20px;
  }
  
  .logout-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #FF0000;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }

  .logout-button:hover {
    background-color: #DC0000;
  }

  .returns-button-container {
    text-align: right;
    margin-top: 20px;
    position: relative; /* Adicionando posição relativa para acomodar o botão */
  }
  
  .returns-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #008CBA;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .returns-button:hover {
    background-color: #006B94;
  }